<%- model_class = Event -%>
<div class="page-header">
  <h1>イベント一覧</h1>
</div>
<div class="span12">
<div class="row">

    <% $events.each do |event| %>
    <li class="span6">
      <a href="/events/<%= event.id %>", style="display:block;height:100%;width:80%", background-color="#F0F8FF">
      <tr>
        <% if event.image? %>
	<td><%= image_tag event.image.thumb.url %></td><br />
        <% else %>
          <td><%= image_tag 'noimage.jpeg', :height => '100px' %></td><br />
        <% end %>
      </tr>
      <tr>
        <td><%= event.description %></td><br />
      </tr>
      <tr>
        <td><%= event.date %></td>
      </tr>
      <tr>
        <td><%= event.place %></td>
      </tr>
    </a>
    </li>
          <%#= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_event_path(event), :class => 'btn btn-mini' %>
          <%#= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      event_path(event),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
    <% end %>
</div>
</div>

<%#= link_to t('.new', :default => t("helpers.links.new")),
            new_event_path,
            :class => 'btn btn-primary' %>
